.home_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container h1{
font-size: 2.5em;
margin-bottom: .5em;
}

.home_container h1 span{
color: #fb3;
padding: .2em .5em;
background-color: #222;
text-transform: uppercase;
}

.home_container p{
    color: #7b7b7b;
    margin-bottom: 1.5em;
    }

.home_container img{
width: 350px;
margin: 2em 0;
}